body {
    text-align: center; 
    background-color:lightpink;
    font-family:fantasy;
}
#Title
{
    
    font-size:50pt;  
    margin-top:0%;
    padding-top:0%
   
}

#back
{
    float: left;
    text-decoration: none;
    
}

#menuItems
{
    background-color:antiquewhite;
    display:inline-block;
    width:70%;
    height:140pt;
    box-shadow: 10px 10px 10px black;
    margin-top:5%;
}

#smallImage
{
    width:100pt;
    height:100pt;
    float:left;
    padding:5%;
}

#Name
{
    float: left;
    padding:4%;
    padding-top:10%;
}

#price
{
    float:right;;
    padding:5%;
    padding-top:10%;
}

a {
    color: black; 
    font-size: 18;
}
li {
    text-align:center;
}